/* BASE DES PAGES */


body{
	width: 1400px;
	margin: auto;
	background-image: url("images/backBody.png");
}
header {
	background-color: gray;
	padding-bottom: 20px;
}
footer{
	display: flex;

	justify-content: center;
	align-items: center;

	background-color: gray;
}

nav{
	background-color: gray;
	margin-top: 5px;
	text-align: center;
}

main{
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: gray;
}

/* HEADER */
#logo1{
	width: 15%;
	padding-left: 10px;
	display: inline-block;
}
#nomPage{
	display: inline-block;
	margin-left: 320px;
	font-size: 60px;
	color: #2A4183;
	text-decoration: underline 3px;
}
#logo2{
	width: 15%;
	display: inline-block;
	float: right;
}
#navBarTop {
	margin-top: 5px;
	padding-bottom: 5px;

	/* Centre les textes et les "boites" de la barre de navigation */
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-content: center;
	align-items: center;

	background-color: gray;
}

/*NAV */
.nav1
{
	padding-left: 10px;
	padding-right: 10px;
}
.nav1:hover { cursor: pointer; }
.nav1 a { color: black; }
.nav1 a:hover { color: #2A4183; }

/*FOOTER */