
/* LES 3 DIVS DI MAIN */
.inbl
{
	display: inline-block;
	width: 29%;
	text-align: center;
	margin-bottom: 20px;
	background-color: #4e5a65;
	border-radius: 10px;

	color: #ededf1;
}

#Tiago
{
	float: right;
	margin-right: 3%;
}
#Antoine
{
	margin-left: 3%;
}
#Naulan
{
	margin-left: 3%;
}

/* INTERIEUR DES DIVS */

.country
{
	text-decoration: underline;
	display: inline-block;
}
.countryImg
{
	display: inline-block;
	width: 6%;
}

.job
{
	margin-top: 0;
}
.langues
{
	text-decoration: underline;
	display: inline-block;
	margin-top: 0;
}