@font-face
{
    font-family: "Comfortaa-Bold";
    src: url("../Comfortaa-Bold.ttf");
}


@keyframes changeSectionOut
{
        from { opacity: 100%; }
        to { opacity: 0; }
}

@keyframes changeSectionIn
{
    from { opacity: 0; }
    to { opacity: 100%; }
}


main
{
    padding: 10px 10px 10px 10px;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

    gap: 10px;

    border-radius: 10px 10px 10px 10px;

    backdrop-filter: blur(5px);
}


article
{
    margin-top: 5%;
}


#presentation-of-UIT article div img
{
    width: 50%;
}


#sommaireAccueil
{
    margin-right: 0;
    order: 2;

    flex: 1 25%;
}

#little-nav
{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;
}
#little-nav-button-0
{
    font-size: 110%;
    text-decoration: underline;

    background-color: gray;
    box-shadow: none;
    border: solid 5px gray;
    border-radius: 5px;
    color: white;
}
#little-nav-button-0:hover
{
    cursor: pointer;
    background-color: #646464;
    border: solid 5px #646464;
}
#little-nav-button-1
{
    font-size: 110%;
    text-decoration: underline;

    background-color: gray;
    box-shadow: none;
    border: solid 5px gray;
    border-radius: 5px;
    color: white;
}
#little-nav-button-1:hover
{
    cursor: pointer;
    background-color: #646464;
    border: solid 5px #646464;
}

.titles
{
    text-align: center;
    font-size: 200%;
    text-decoration: underline;

    font-family: "Comfortaa-Bold", sans-serif;
}


/* == Img parts === */
.illustration-presentation
{
    display: flex;
    justify-content: center;
}

#illustration-presentation-0
{
    width: 45%;
    margin-right: 5px;

    border-radius: 10px 10px 10px 10px
}

#illustration-presentation-1
{
    width: 45%;
    margin-left: 5px;

    border-radius: 10px 10px 10px 10px
}


/* === Text parts === */
#text-illustration-presentation
{
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 2.5%;

    font-family: "Liberation Mono", monospace;
    font-size: small;
}

#text-illustration-geographic-coordinate
{
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 2.5%;

    font-family: "Liberation Mono", monospace;
    font-size: small;
}

#text-list-and-presentation-of-the-proposed-university-courses
{
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 2.5%;

    font-family: "Liberation Mono", monospace;
    font-size: small;
}

#text-presentation-of-Student-association
{
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 2.5%;

    font-family: "Liberation Mono", monospace;
    font-size: small;
}

#text-description-of-the-bookcase-and-ressources
{
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 2.5%;

    font-family: "Liberation Mono", monospace;
    font-size: small;
}
#text-interesting-association-near-to-the-UIT
{
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 2.5%;

    font-family: "Liberation Mono", monospace;
    font-size: small;
}

#text-exemple-of-initiatives-for-students-offers-by-Paris8-University
{
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 2.5%;

    font-family: "Liberation Mono", monospace;
    font-size: small;
}

#text-estimating-the-digital-footprint
{
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 2.5%;

    font-family: "Liberation Mono", monospace;
    font-size: small;
}
#text-usak-kanyon-college
{
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 2.5%;

    font-family: "Liberation Mono", monospace;
    font-size: small;
}
#text-usak-kanyon-college h3 { text-align: center; }

.texts-articles
{
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 2.5%;

    font-family: "Liberation Mono", monospace;
    font-size: small;
}
.texts-articles h3 { text-align: center; }


#presentation-of-UIT-div
{
    display: inherit;

    grid-column-start: 1;
    grid-column-end: 1;

    grid-row-start: 1;
    grid-row-end: 1;
}
#digital-fingerprint-div
{
    display: none;

    grid-column-start: 1;
    grid-column-end: 1;

    grid-row-start: 1;
    grid-row-end: 1;
}
#digital-fingerprint
{
    margin-top: 0;
}
