@font-face
{
    font-family: "Comfortaa-Bold";
    src: url("../Comfortaa-Bold.ttf");
}


#presentation-of-UIT
{
    padding: 10px 10px 10px 10px;

    color: white;

    display: flex;
    justify-content: center;
    align-items: stretch;

    border-radius: 10px 10px 10px 10px;

    backdrop-filter: blur(5px);
}
#presentation-of-UIT > article > div > img
{
    width: 50%;
}
#sommaireAccueil { margin-right: 0;}

#illustration-presentation
{
    display: flex;
    justify-content: center;
}
#illustration-presentation-0
{
    width: 45%;
    margin-right: 5px;

    border-radius: 10px 10px 10px 10px
}
#illustration-presentation-1
{
    width: 45%;
    margin-left: 5px;

    border-radius: 10px 10px 10px 10px
}
#illustration-geographic-position
{
    display: flex;
    justify-content: center;
}

#text-illustration-presentation
{
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 2.5%;

    font-family: "Liberation Mono", monospace;
    font-size: small;
}
#text-illustration-geographic-coordinate
{
    padding-left: 5%;
    padding-right: 5%;

    margin-top: 2.5%;

    font-family: "Liberation Mono", monospace;
    font-size: small;
}

.titles
{
    text-align: center;
    font-size: 200%;
    text-decoration: underline;

    font-family: "Comfortaa-Bold", sans-serif;
}
