

main
{
    padding: 10px 10px 10px 10px;
    color: #ebebf0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

    border-radius: 10px 10px 10px 10px;
}

main h1
{
    font-family: "Comfortaa-Bold", sans-serif;
    font-size: 100%;

    padding: 10px 10px 10px 10px;

    border-radius: 10px;

    background-color: #4e5a65;
    color: #f1f1f3;
}

main div
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main div section
{
    padding: 10px 10px 10px 10px;

    border-radius: 10px;

    background-color: #4e5a65;
    color: #f1f1f3;
}

main div section p
{
    font-family: "Liberation Mono", monospace;
    font-size: 100%;
}
main div section h2
{
    font-family: "Comfortaa-Bold", sans-serif;
    font-size: 100%;
}
main div section a
{
    color: #ededf1;
}
main div section a:hover
{
    color: #fba292;
}